<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <link rel="stylesheet" href="style/common.css">
        <link rel="stylesheet" href="style/experiment.css">
    </head>

    <body>
    <nav>
        <ul>
            <li>
                <a href="index.html"> Home Page </a>
            </li>
            <li>
                <a href="station_list.html"> Gas Stations List</a>
            </li>
            <li>
                <a href="become_manager.html">Join as a manager/employee</a>
            </li>
            <li>
                <a href="products.html"> Products & Services</a>
            </li>
            <li>
                <a href="contacts.html">Contact us</a>
            </li>
            <li>
                <a href="manage">Manage</a>
            </li>
            <li>
                <a href="login">Log in</a>
            </li>
            <li>
                <a href="logout">Log out</a>
            </li>
        </ul>
    </nav>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>
