<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="style/common.css" rel="stylesheet">
        <link href="style/experiment.css" rel="stylesheet">
        {{{_sections.head}}}
    </head>

    <body>
    <nav>
        <ul>
            <li>
                <a href="index"> Home Page </a>
            </li>
            <li>
                <a href="station_list"> Gas Stations List</a>
            </li>
            <li>
                <a href="products"> Products & Services</a>
            </li>
            <li>
                <a href="contacts">Contact us</a>
            </li>
            <li>
                <a href="manage">Manage</a>
            </li>
            <li>
                <a href="login">Log in</a>
            </li>
            <li>
                <a href="logout">Log out</a>
            </li>
        </ul>
    </nav>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>
