<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Log in</title>
        <link rel="stylesheet" href="style/common.css">
    </head>

    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>
