{{#section 'head'}}
    <title>Contacts</title>
    <link href="style/contacts.css" rel="stylesheet">
{{/section}}

<div class="container">
    <div class="map-box">
        <iframe class="map" id="map"src="https://www.openstreetmap.org/export/embed.html?bbox=21.73380017280579%2C38.24789600386227%2C21.744850873947147%2C38.25232782929022&amp;layer=mapnik&amp;marker=38.250111950356754%2C21.739325523376465"></iframe>
    </div>

    <div class="content-box">
        <h1>Address</h1>
            <address><b>FakeOil Inc.</b>
                Maybe Street 42,
                Patras 666 42, Achaia
                Greece

                Registered Inc.
                Legal lorem ipsum stuff
                VAT: 123456789
            </address>
        <h1>Contacts</h1>
            <address>Phone: <a class="info" href="tel:+30 261 053 3866">+30 261 053 3866</a>
                Email: <a  class="info" href="mailto:support@fakeoil.gr">support@fakeoil.gr</a>
                Website: <a class="info" href="https://www.fakeoil.gr">www.fakeoil.gr</a>
            </address>

        <h2>Contact gas stations</h2>
        <p>You can find contact information for specific gas station in the <a class="info" href="station_list">station list</a>.</p>

    </div>

</div>
<div class="container">

    <div class="content-box">

      <h1>Join us!</h1>
        <h2>As an employee</h2>
        <p>If you'd like to join us as an employee, please send us you CV to our email!</p>

        <h2>As a Station manager</h2>
        <p>If you'd like to join our network with your gas station, please reach to us using the email, phone or come visit us in person at our headquarters.</p>
    </div>

</div>