{{#section 'head'}}
    <title>Products and Services</title>
    <link href="style/products.css" rel="stylesheet">
{{/section}}

<div class="container">
    <div class="main-content">
      <div class="left-sidebar"></div>
      <div class="right-content">
        <div class="top-right">
            <div class="top-right-left">
                <h3>Our Products</h3>
                <p> Patras Oil produces and offers petroleum products and lubricants that meet the most stringent European and international specifications.Our labs produce the entire range of refinery products, from light ends and gasoline to middle distillates, fuel, bitumen, paraffin, sulphur and lubricants and has the necessary flexibility to provide customized (tailor made) products designed to meet clients specific requirements.</p>
                <p> Within the refinery complex, strategically located at the commercial crossroad of the Eastern Mediterranean, Patras Oil has extended storing installations which serve both the refinery operations as well as storage and processing arrangements for crude and products for third parties.</p>
            </div>
            <div class ="top-right-right">
                <img src="img/prod.jpg" alt="Image description">
            </div>
        </div>
        <div class="bottom-right">
          <div><h3>Our Services</h3></div>
          <div class="services"> 
            Refinery and storage operations are also served as services from our company. Also, a fully operational truck loading terminal delivers products to continental Greece and the region of South East Europe. <br><br>
            Patras Oil can serve the needs of any customer and for further inquiries on our products and services please email us at support@fakeoil.gr or visit our contacts page.<br><br>
          </div>
        </div>
      </div>
    </div>
</div>
