{{#section 'head'}}
    <title>Products and Services</title>
    <link href="style/products.css" rel="stylesheet">
{{/section}}

<div class="container">
    <div class="main-content">
      <div class="left-sidebar">Left Sidebar</div>
      <div class="right-content">
        <div class="top-right">
            <div class="top-right-left">
                <p> Top right left </p>
            </div>
            <div class ="top-right-right">
                <img src="img/gas_station.jpg" alt="Image description">
            </div>
        </div>
        <div class="bottom-right">
          <p> This is a paragraph </p>
        </div>
      </div>
    </div>
</div>
