{{#section 'head'}}
    <title>Station not found</title>
{{/section}}

<h1 style="text-align: center; padding-top: 50px; display: block;">Error 404</h1>
<p>Station not found.</p>
<p>Redirecting to station list...</p>
<p>Click <a href="station_list">here</a> to redirect manually</p>
<script>
    function redirect() {
        setTimeout(function(){
                window.location.replace("station_list");
            }
            , 3000);
    }
    redirect();
</script>
