<h1>List of stations</h1>
<p>Click for details</p>
<div class="station-list-container">
    <table id="station-table" class="station-table">
        <tr>
            <th>Open</th>
            <th>Name</th>
            <th>Region</th>
            <th>N95</th>
            <th>Diesel</th>
            <th>Opening hours</th>
        </tr>
        <!-- javascript -->
    </table>
</div>
<script src="script/common.js"></script>
<script src="script/station_list.js"></script>