  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex: 0 0; /* Adjust this value to change the height */
  }
  
  .logo {
    background-color:lightcyan;
    display: flex;
    flex-direction: row;
    flex: 1 1 100%; /* Adjust this value to change the height */
  }
  
  .register {
    background-color:lightcoral;
    flex: 0 0; /* Adjust this value to change the height */
    display: flex;
    justify-content: center; /* horizonitcally */
    align-items: center;    /* vertically */
}

button {
    margin: 40px;
}

  .main-content {
    display: flex;
    flex: 1;
    overflow: auto;
  }
  
  .left-sidebar {
    background-color: lightblue;
    width: 150px;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .top-right {
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    flex: 1 1 400px;
  }
  
  .top-right-left {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: lightsalmon;
  }

  #map {
  /*  height: 400px;
    width: 600px; */
    flex: 1;
  }
  
  .top-right-right {
    flex: 0.2;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center; /* horizonitcally */
    align-items: center;    /* vertically */
}

table, th, td, caption {
    border: solid black;
}

  
  .bottom-right {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .bottom-right-left {
    background-color: lightyellow;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }
  
  .bottom-right-right {
    background-color: pink;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p{
    padding: 50px;
  }


  a {
    color: white;
}
a:hover, a.selected {
    color: blueviolet;
}


li {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    margin: 0px;
}
li:hover, li.selected {
    background-color: antiquewhite;
}
ul {
    display: flex;
    list-style: none;
    background-color: lightseagreen;
    margin: 0px;
    padding: 0px;
}
  