body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.right-content{
  background-color: rgba(165, 195, 201, 0.1);
}

.main-content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.left-sidebar {
  background-color: rgba(180, 243, 255, 0.69);
  display: flex;
  flex-direction: row;
  flex: 0.15;
}

.top-right {
  display: flex;
  flex-direction: row;
}

.top-right-left {
  display: flex;
  flex-direction: column;
  background-color: #0465aa;
  border-radius: 1em;
  color: #f2f2f2;
  margin: 1em;

}

.top-right-left p, h3 {
  margin: 1em; 
}

.top-right-right {
  display: flex;
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: rgba(180, 243, 255, 0.69);
  margin-top: 1em;
}
img{
  border-radius: 1em;
}


h3 {
  margin-left: 2em;
}


.bottom-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(4, 101, 170, 0.2);
  margin-inline: 1em;
  border-radius: 1em;
}

.services {
  margin-left: 1em;
}

p{
  padding: 30px;
}


a {
  color: white;
}
a:hover, a.selected {
    color: blueviolet;
}


li {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    margin: 0px;
}
li:hover, li.selected {
    background-color: antiquewhite;
}
ul {
    display: flex;
    list-style: none;
    background-color: lightseagreen;
    margin: 0px;
    padding: 0px;
}
  